.container{
    height: 700px;
    width:70%;
     overflow-y: hidden; 
    overflow-x: hidden;
   /* background: linear-gradient(90deg rgba(#fff) 50%,90deg rgba(rgb(239, 239, 186))90%); */
    box-sizing: border-box;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(244, 240, 234) 30%);

}
div{
    border: 40px solid black;
    border-radius: 2%;
}